@import "./reset.scss";

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #454545;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #636363;
  }
}
